@charset "UTF-8";

article, header, main, nav, section{
    display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, header, main, nav, section{
    padding : 0 ;
    margin : 0 ;
}

.login{
    position: absolute;
    top: 2px;
    right: 5px;
}

#log{
    position: absolute;
    left:20px;
    margin-top: 2px;
}

.name{
    text-align: center;
    position: relative;
    border: solid;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 7px;
}

body{
    
    margin-left: auto;
    margin-right: auto;
}

.user{
    padding: 5px;
    margin-top: 1px;
    text-align: center;
    background-color:darkgrey;
    margin-right: 5px;
    margin-left: 5px;
}

.user li{
    display: inline;
    text-align: center;
}

li{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
}

.site{
    background-color:darkgrey;
    float: left;
    width: 200px;
    height: 630px;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.button1{
    position: absolute;
    top: 350px;
    left: 300px;
}

.button2{
    position: absolute;
    top: 350px;
    left: 365px;
}

.desc{
    
    position: absolute;
    top: 125px;
    left:450px;
}

.desc1{
    margin-top: 60px;
}

.desc2{
    margin-top: 8px;
}

.image_desc{
    position: absolute;
    top:380px;
    left:265px;
}

.detail{
    position: absolute;
    top: 400px;
    left:265px;
}

.detail1{
    margin-top: 20px;
}

.detail2{
    margin-top: 10px;
}

.checked{
    color: aqua;
}
footer {
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #20416c;
    color: white;
    padding: 5px 20px;
    text-align: center;
    font-size: 25px;
}