<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel = "stylesheet" type = "text/css" href = "/assets/stylesheets/style.css">
    </head>
    <body>
            
        <div class="header-wrapper">
            <% include ./partials/header.ejs %>
        </div>
        <div class="user-nav-wrapper">
            <% include ./partials/user-navigation.ejs %>
        </div>
        <div class="nav-side-wrapper">
            <% include ./partials/site-navigation.ejs %>
        </div>
        <main>
            <section>
                <h2>About Us</h2>
                <article>
                    <header>
                        <h3>Details</h3>
                    </header>
                    <p>This site sells the items related to cricket which are used by cricketers and autographed 
                        by the respective cricketer. We use this money for charity purposes and provide 
                        funding for education of poor people. </p>
                </article>
            </section>
        </main>
        <div class="footer-wrapper">
            <% include ./partials/footer.ejs %>
        </div>
    </body>
</html>