<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MyWebsite</title>
        <link rel = "stylesheet" type = "text/css" href = "/assets/stylesheets/styleCategory.css">
    </head>
    <body>
        <div class="header-wrapper">
            <% include ./partials/header.ejs %>
        </div>
        <div class="user-nav-wrapper">
            <% include ./partials/user-navigation.ejs %>
        </div>
        <div class="nav-side-wrapper">
            <% include ./partials/site-navigation.ejs %>
        </div>

        <main>
            <section>
                <%    
                for(var i=0; i< data.categories.length; i++){ %>
                <header>
                    <h3><%= data.categories[i] %></h3>
                </header>
                <ul>
                    <%
                    for(var j=0; j< data.items.length;j++){ 
                        if(data.categories[i] === data.items[j].catalogCategory){ %>
                        <li><a href="/categories/item/<%= data.items[j].itemCode %>"><%= data.items[j].itemName %></a></li>
                    <% } 
                }%>
                </ul>
                <% } %>
            </section>
        </main>
        <div class="footer-wrapper">
            <% include ./partials/footer.ejs %>
        </div>
    </body>
</html>