<nav class = "site">
    <ul>
        <li><a href = "/">Home</a></li>
        <li><a href = "/categories/catalog">categories</a></li>
        <li><a href = "#">Store</a></li>
        <li><a href = "/about">About Virat</a></li>
        <li><a href = "/contact">contact</a></li>
    </ul>
</nav>
